<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.martbangunan.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MartBangunan">
        <activity android:name=".ui.LoginAsActivity"></activity>
        <activity android:name=".ui.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.selller.RegistrationSeller2Activity" />
        <activity android:name=".ui.activity.selller.RegistrationSellerActivity" />
        <activity android:name=".ui.activity.selller.LoginSellerActivity">

        </activity>
        <activity android:name=".ui.activity.selller.MainSellerActivity" />
        <activity android:name=".ui.activity.customer.RegistrationActivity" />
        <activity android:name=".ui.activity.customer.LoginActivity" />
        <activity android:name=".ui.activity.customer.MainActivity" />
    </application>

</manifest>